<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="2.51.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.51.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Shared" version="1.1.166" targetFramework="net452" />
</packages>